# code owners are assigned based on made contributions to Gems
# command used to find contributors
# git log --pretty=format:"%ae" -- /path/to/directory | sort | uniq

Gems/CsvSpawner @patrykantosz @w-czerski
Gems/DisableMainView @jhanca-robotecai @michalpelka
Gems/ExposeConsoleToRos @michalpelka @w-czerski
Gems/GeoJSONSpawner @patrykantosz @w-czerski
Gems/GeoJSONSpawnerROS2 @patrykantosz @w-czerski
Gems/ImGuiProvider @norbertprokopiuk @zakmat
Gems/ImGuizmo @michalpelka @norbertprokopiuk
Gems/LevelModificationTools @arturkamieniecki @MateuszWasilewski
Gems/Pointcloud @norbertprokopiuk @michalpelka
Gems/RandomizeUtils @michalpelka @jhanca-robotecai
Gems/RobotecRecordingTools @jhanca-robotecai @MateuszWasilewski
Gems/RobotecSpectatorCamera @jhanca-robotecai @patrykantosz
Gems/RobotecSplineTools @jhanca-robotecai @michalpelka
Gems/RobotecWatchdogTools @MateuszWasilewski @zakmat
Gems/ROS2PoseControl @arturkamieniecki @patrykantosz
Gems/ROS2ScriptIntegration @jhanca-robotecai @michalpelka
Gems/SensorDebug @MateuszWasilewski @michalpelka
Gems/Smoothing @michalpelka @pijaro
Gems/ViewportStreamer @lawendah @patrykantosz
